

  .bg-gradient-dark {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  }

  .gallery_item img {
    transition: filter 0.3s ease-in-out;
  }
  
  .gallery_item:hover img {
    filter: grayscale(100%);
  }
  
  
  